@font-face {
  font-family: "vcr_osd_monoregular";
  src: url("vcr_osd_mono_1.001-webfont.woff2") format("woff2"), url("vcr_osd_mono_1.001-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "vcr_osd_monoregular";
  background-color: #e7e8c2;
  overflow-y: hidden;
}
.corb {
  position: absolute;
  z-index: 1;
  color: black;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: calc(8px + 0.5vw + 0.5vh);
}

.soon {
  position: absolute;
  z-index: 1;
  color: black;
  top: 75%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: calc(8px + 0.5vw + 0.5vh);
}

ul {
  z-index: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e7e8c2;
}

li {
  z-index: 1;
  float: left;
}

li a {
  z-index: 1;
  display: block;
  color: #8a7e96;
  text-align: center;
  padding: 1vh 1vw;
  text-decoration: none;
  font-size: calc(8px + 0.5vw + 0.5vh);
}

li a:hover {
  z-index: 1;
  background-color: #969777;
}

.right {
  float: right;
}
